.linkComment {
    cursor: pointer;
    margin-bottom: 5px;
    color: #575757;
}

.linksDiv a {
    font-size: 110%;
    text-decoration: underline solid black;
}

.linksDiv hr {
    border: 0.5px solid grey;
}


.linksDiv {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: sans-serif;
    font-size: 0.7rem;
    overflow: auto;
    /* overflow-x: hidden; */
    /* background-color: white; */
    background-color: #f6f6ef;
    width: 27%;
    height: max-content;
    border: 2px solid #ff6600;
    margin: 8px;
    padding: 0.5rem;
}

.previousStories {
    font-size: 0.6rem;
    /* background-color: #d5efc5; */
}

.previousStories a {
    font-size: 0.6rem;
    color: #717171;
}

.previousStories li:not(:last-child){
    margin: 1px;
}

.previousStories p {
    margin: 3px;
    margin-left: 10px;
}


summary {
    /* TODO */
}

.urlPointsAndComments {
    padding-right: 1em;
}

/* .container { */
/*     display: flex; */
/*     flex-direction: row; */
/*     /\* overflow-y: auto; *\/ */
/* } */

/* #hnmain { */
/*     flex: 0 0 70%; */
/*     width: unset; */
/*     /\* height: 100vh; *\/ */
/*     overflow-y: auto; */
/* } */

/* body { */
/*     overflow-y: hidden; */
/* } */

/* body { */
/*     display: grid; */
/*     grid-column-gap: 20px; */
/* } */
